// font-family: 'Raleway';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variable
$textFamily: 'Raleway';
$titleFamily: 'Raleway';

$titleLightColor: #fff;
$titleDarkColor: #00D54B;
$textColor: #fff;
$textDarkColor: #000000;

// functions
@function vwSize($size) {
  $vwSize: $size * 100 / 1366;
  @return #{$vwSize}vw;
}

// @extend %d-flex;
%d-flex {
	display: flex;
}
// @extend %jc-sb;
%jc-sb {
	justify-content: space-between;
}

// @extend %ai-c;
%ai-c {
	align-items: center;
}

// style
::-webkit-scrollbar {
    width: vwSize(3);
    height: vwSize(3);
}
::-webkit-scrollbar-track {
    border-radius: vwSize(3);
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #00D54B;
    border-radius: vwSize(3);
}

body {
	margin: 0;
}

ul, nav {
	padding: 0;
	list-style: none;
	margin: 0;
}

h1, h2, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $textColor;
	font-family: $textFamily;
}

img {
	width: 100%;
}

.absolute {
	position: absolute;
}

.wrapper {
	font-size: 0;
	font-family: $textFamily;
}

.header {
	height: 100vh;
	position: relative;
	background: #000;
	padding: vwSize(32) vwSize(57) vwSize(26) vwSize(60);
	text-align: center;
	box-sizing: border-box; 
	overflow: hidden;
	z-index: 1;
	&__backLine {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	&__top {
		@extend %d-flex;
		@extend %jc-sb;
		@extend %ai-c;
	}
	.logoIcon {
		width: vwSize(30);
	}
	&__menu {
		width: vwSize(766);
		margin: 0 auto;
	}
	&__menuItem {
		display: inline-block;
		margin-right: vwSize(20);
		a {
			font-size: vwSize(12);
			font-weight: 800;
			text-transform: uppercase;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__button {
		width: vwSize(64);
		cursor: pointer;
	}
	&__title {
		position: relative;
		z-index: 1;
		color: $titleLightColor;
		font-size: vwSize(193);
		font-weight: 800;
		line-height: vwSize(166);
		margin-top: vwSize(120);
	}
	&__secondTitle {
		z-index: 100;
		position: absolute;
		bottom: -93%;
	    right: 34%;
	}
	&__phone {
		z-index: 1;
		width: vwSize(370);
		position: absolute;
		top: -60%;
    	right: 32%;
	}
	&__cube {
		width: vwSize(74);
		top: vwSize(77);
		left: vwSize(228);
	}
	&__stairs {
		width: vwSize(200);
		top: vwSize(77);
		right: vwSize(144);
	}
	&__cubes {
		width: vwSize(188);
		left: vwSize(208);
		bottom: vwSize(68);
	}
	&__pillar {
		width: vwSize(280);
		right: vwSize(252);
		bottom: 0;
	}
	&__bottomPart {
		position: absolute;
		bottom: vwSize(19);
		z-index: 100;
		width: vwSize(1243);
		margin: 0 auto;
		@extend %d-flex;
		@extend %jc-sb;
		@extend %ai-c;
	}
	&__appButton {
		background: #000;
		display: inline-block;
		vertical-align: middle;
		padding: vwSize(14) vwSize(25);
		border: vwSize(1) solid #fff;
		border-radius: vwSize(7);
		margin-right: vwSize(20);
		&:last-child {
			margin-right: 0;
		}
	}
	&__appIcon {
		display: inline-block;
		vertical-align: middle;
		margin-right: vwSize(14);
		width: vwSize(20);
	}
	&__appText {
		display: inline-block;
		vertical-align: middle;
		font-size: vwSize(12);
		font-weight: 800;
		text-transform: uppercase;
	}
	&__arrayTo {
		display: inline-block;
		vertical-align: middle;
	}
	&__arrayToIcon {
		width: vwSize(18);
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		margin: 0 vwSize(36) 0 vwSize(87);
		color: #B6B6B6;
		font-size: vwSize(10);
		font-weight: 700;
		width: vwSize(363);
		line-height: vwSize(13);
	}
	&__social {
		display: inline-block;
		vertical-align: middle;
	}
	&__socialLink {
		display: inline-block;
		vertical-align: middle;
		margin-right: vwSize(31);
		&:last-child {
			margin-right: 0;
		}
	}
	&__socialIcon {
		width: vwSize(23);
	}
}

.payments {
	background: #F8F6F6;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&__floor {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 2.5%;
		z-index: -1;
	}
	&__content {
		position: relative;
		width: vwSize(820);
		margin: 0 auto;
		transform: translateY(vwSize(150))
	}
	&__title {
		color: $titleDarkColor;
		font-size: vwSize(40);
		font-weight: 800;
	}
	&__text {
		color: $textDarkColor;
		font-size: vwSize(16);
		font-weight: 400;
		line-height: vwSize(22);
		width: vwSize(352);
	}
	&__phone {
		position: absolute;
	    top: -82%;
    	right: 0%;
		width: vwSize(750);
	}
	.pillar {
		position: absolute;
		&:nth-child(2) {
			left: -47%;
    		bottom: -20%;
    		z-index: 10;
		}
		&:nth-child(3) {
			left: 13%;
    		bottom: 3%;
    		z-index: 10;
		}
		&:nth-child(4) {
		    left: 21%;
    		bottom: 8%;
    		z-index: 5;
		}
		&:nth-child(5) {
			right: 47.2%;
    		bottom: 4%;
    		z-index: 15;
		}
		&:nth-child(6) {
			right: 36%;
    		bottom: -10%;
    		z-index: 14;
		}
		&:nth-child(7) {
		    right: 34.5%;
    		bottom: 11%;
    		z-index: 13;
		}
		&:nth-child(8) {
		    right: 12%;
    		bottom: -18%;
    		z-index: 13;
		}
		&:nth-child(9) {
			right: 12.8%;
    		bottom: 24%;
    		z-index: 10;
		}
		&:nth-child(10) {
			right: -1%;
			bottom: 7%;
			z-index: 10;
		}
	}
	.payments-column {
		width: vwSize(810);
	}
	.payments-pillar-medium {
		width: vwSize(172);
	}
	.payments-pillar-small {
		width: vwSize(135);
	}
	.payments-pillar-large {
		width: vwSize(210);
	}
}

.banking {
	background: #00D54B;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&__content {
		position: relative;
		z-index: 1;
		width: vwSize(916);
		margin: 0 auto;
		transform: translateY(vwSize(296))
	}
	&__title {
		color: $titleLightColor;
		font-size: vwSize(40);
		font-weight: 800;
	}
	&__text {
		color: $textDarkColor;
		font-size: vwSize(16);
		font-weight: 400;
		line-height: vwSize(22);
		width: vwSize(352);
	}
	&__phone {
		position: absolute;
	    top: -82%;
    	right: 40%;
		width: vwSize(750);
	}
	&__phone {
		z-index: 10;
		width: vwSize(350);
		position: absolute;
		top: -114%;
    	right: 31%;
	}
	&__images {
		position: absolute;
		z-index: 9;
		&:nth-child(1) {
    		top: vwSize(0);
			left: vwSize(-60);
			width: vwSize(380);
    		z-index: 10;
		}
		&:nth-child(2) {
    		top: vwSize(105);
			left: vwSize(74);
			width: vwSize(130);
    		z-index: 10;
		}
		&:nth-child(3) {
			left: vwSize(74);
    		bottom: vwSize(113);
			width: vwSize(80);
    		z-index: 10;
		}
		&:nth-child(4) {
		    left: vwSize(157);
    		bottom: vwSize(45);
			width: vwSize(300);
    		z-index: 5;
		}
		&:nth-child(5) {
			top: vwSize(165);
			left: vwSize(354);
			width: vwSize(270);
    		z-index: -1;
		}
		&:nth-child(6) {
			left: vwSize(489);
    		bottom: vwSize(-10);
			width: vwSize(150);
    		z-index: 14;
		}
		&:nth-child(7) {
		    right: vwSize(258);
    		bottom: vwSize(-74);
			width: vwSize(380);
    		z-index: 13;
		}
		&:nth-child(8) {
		    right: vwSize(273);
    		bottom: vwSize(93);
			width: vwSize(240);
    		z-index: 13;
		}
		&:nth-child(9) {
    		top: vwSize(213);
			right: vwSize(297);
			width: vwSize(280);
    		z-index: 10;
		}
		&:nth-child(10) {
			top: vwSize(16);
			right: vwSize(177);
			width: vwSize(250);
			z-index: 10;
		}
		&:nth-child(11) {
			right: vwSize(123);
    		bottom: vwSize(220);
			width: vwSize(90);
    		z-index: 10;
		}
		&:nth-child(12) {
			right: vwSize(74);
			bottom: vwSize(74);
			width: vwSize(120);
			z-index: 10;
		}
	}
}
